---
import {css} from '../../styled-system/css';
import {hstack, vstack} from '../../styled-system/patterns';
interface Props {
  title: string;
  description: string;
  uses: string;
  color: string;
}

const {title, description, uses, color} = Astro.props;
---
<div class={hstack()}>
  <div>color here</div>
  <div>
    <div class={vstack()}>
      <p>{title}</p>
      <p>{description}</p>
      <p>{uses}</p>
    </div>  
  </div>
</div>